<link rel="stylesheet" href="~/css/tabs.css" />
<link rel="stylesheet" href="~/css/priems/index.css" />

<div class="container">
    <div class="tabs" id="tabs_div">
        <div id="tab_btns">

        </div>

    </div>
</div>

<div id="test"></div>

@section Scripts{ 
    <script type="text/javascript" src="~/js/priems/index.js"></script>
    <script>
        initPriem()
    </script>
}