@model IndexViewModel

<link rel="stylesheet" href="~/css/note/tableView.css" />
<link rel="stylesheet" href="~/css/note/tooltip.css" />
<link rel="stylesheet" href="~/css/note/filter.css" />


<button id="bt_filter_toggle" class="d-none btn btn-toggle align-items-center rounded collapsed" data-toggle="collapse" data-target="#filterContainer" aria-expanded="false">
    Фильтр
    <span class="badge" id="filter-count"></span>
</button>

<div class="row">



    <div style="box-shadow: 1px 2px 9px 1px"
         class="rounded-sm col-xm-12 col-sm-12 col-md-12 col-12 col-lg-3 accordion bg-white collapse hide" id="filterContainer">

        <div id="root_filter">
        </div>

    </div>


    <div class="table col-xm-12 col-sm-12 col-md-12 col-12 col-lg-12 justify-content-end" id="table-div">

        <div id="div_header_notes">
            <div class="d-flex mb-2">
                <h3>Скрипичные приемы в произведениях</h3>
            </div>

            <div class="d-flex flex-wrap justify-content-start">


                <div class="d-flex flex-wrap justify-content-start" id="filters-place">

                </div>
            </div>
            <hr id="filter_place_line" class="d-none" />

            <div id="table-panel" class="row d-none">

                <div class="col-xs-4 col-md-3 col-sm-12 col-lg-3 d-flex" style="margin: 5px auto">
                    <span>
                        Найдено записей:
                    </span>

                    <div class="font-weight-bold" style="margin-left: 5px">
                        <span id="finded_text"></span>
                    </div>
                </div>
            </div>

            <div id="btn-show" class="row">

                <div class="col-xs-4 col-md-3 col-sm-12 col-lg-3 d-flex" style="margin: 5px auto">

                    <button class="btn btn-info" id="btn_notes_show">

                    </button>
                </div>
            </div>
        </div>
        <div id="view_root">

        </div>
        <div id="filter_start_root">

        </div>

        <div class="mt-3">
            <ul id="p_root" class="pagination">
            </ul>
        </div>
    </div>

</div>

@section Scripts{

    <script src="//cdnjs.cloudflare.com/ajax/libs/pdf.js/2.0.943/pdf.min.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/notes/filter.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/notes/index.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/notes/details.js" asp-append-version="true" ></script>

    <script>
        let isFilterView = true
        let curPage;
        let viewName
        let takeCount;
        let total;
        let priems = null
        let filterView = null
        let totalCount = 0

    $(() => {
        total = Number( @Model.TotalCount)
        takeCount = Number(@Model.TakeCount)
        curPage = Number(@Model.CurrentPage)
        viewName = "@Model.SelectedView"

        $("#sel-limit").val(takeCount)
        $("#finded_text").text(total)

        //$("#link_to_groups").on('click', e => {
        //    $('#div_header_notes').addClass("d-none")
        //    $("#bt_filter_toggle").addClass("d-none")
        //    loadView(null, null, "/Home/GetAllGropus")
        //})

        //$("#bt_filter_toggle").on('click', e => {
        //    loadFilters($("#root_filter"), {'gId': selectedGroupId})

        //    let viewDiv = $("#table-div")

        //    if (viewDiv.hasClass('col-lg-12')) {
        //        viewDiv.removeClass('col-lg-12')
        //        viewDiv.addClass('col-lg-9')
        //    }
        //    else {
        //        viewDiv.addClass('col-lg-12')
        //        viewDiv.removeClass('col-lg-9')
        //    }
        //})

        init()
        $("#btn_notes_show").on('click', e => {

            if(isFilterView){
                loadView({ selectedPriems: priems, takeCount: totalCount, selectedView: '/Views/Home/TileView.cshtml' })
                $(e.currentTarget).text("Показать фильтр")
                $("#filter_start_root").addClass("d-none")
                    $("#table-panel").removeClass("d-none")
            }
            else{
                $("#view_root").empty()
                $("#filter_start_root").removeClass("d-none")
                $("#table-panel").addClass("d-none")
                getNotesCount(priems)
            }
            isFilterView = !isFilterView;
        })
    })


    function init(){

        jQuery.ajaxSettings.traditional = true;
        initIndex(curPage, total, takeCount, viewName)
        $.get({ url: "/admin/note/getfilterview", data: { view: "/Views/Home/FilterViewStart.cshtml" }, success: view => {
            $("#filter_start_root").empty().append(view)
            initFilterView()
            getNotesCount(priems)
        }})
    }


    function initFilterView() {
            $(".cb_priem").on('change', e => {
                let checked = e.currentTarget.checked
                let priemId = e.currentTarget.getAttribute("data-priem-id")
                let groupId = e.currentTarget.getAttribute("data-group-id")

                let labelId = priemId + '-title'
                let labelClass = groupId + '-title'

                if (checked) {
                    var title = createFilterDisplay(labelId, $(e.currentTarget).next().text(), labelClass,
                        () => { $(e.currentTarget).prop('checked', false).change(); });

                    $('#filters-place').append(title);
                }
                else {
                    $('#' + labelId).remove();
                }
                priems = Array.from($('.cb_priem:checked')).map(x => x.getAttribute('data-priem-id'))

                if(priems.length > 0)
                    $("#filter_place_line").removeClass("d-none")
                else
                    $("#filter_place_line").addClass("d-none")

                if(isFilterView)
                    getNotesCount(priems)
                else{
                    getNotesCount(priems, (answ, isAll) => {
                        $("#finded_text").text(answ)
                        loadView({ selectedPriems: priems, takeCount: answ, selectedView: '/Views/Home/TileView.cshtml' })
                    })
                }
            })
        }

    function getNotesCount(priems, successFunc = null){

        if(successFunc == null)
            successFunc = updateNotesCount

        $.get({ url: "/admin/note/getnotescount", data: { selectedPriems: priems }, success: answ => successFunc(answ, priems == null || priems.length == 0) })
    }

    function updateNotesCount(count, isAll = false){
        totalCount = count
        if(isFilterView){
            if(count > 0){
                $("#btn_notes_show").removeAttr('disabled').text(`Показать ${isAll ? "все" : ""} ноты (${count})`)
            }
            else{
                $("#btn_notes_show").attr('disabled', 'disabled').text(`Нот не найдено`)
            }
        }
    }

    function showBtn(primesId){

    }

    function onDetails(e) {
        e.stopPropagation()
        $("body > div").removeClass("container").addClass("container-fluid")
        //$("#modal_loading").modal('show')
        let id = $(e.currentTarget).attr('data-id')
        let url = window.location.origin + "/home/details/" + id;

        $.get(url).done(view => {
            placeAjaxView(view)
            //$('#ajax-content-place').empty().append(page)
            //$("#modal_loading").modal('hide')
        }).fail(err => {
            //$("#modal_loading").modal('hide')
            //$("#modal_error").modal('show')
            //$("#modal_error #modal_error_div > ul").empty().append(`<li>Ошибка</li>`)
        })
    }
    </script>
}

